<% @coments.each do |coment| %>
<ul class="container">
    <% if coment.publication_id == @publication.id %>
        <br>
        Por <%=coment.user.name %> :
        <li class="card"><%=coment.content %></li>
    <% else%>
    
    <% end %>
</ul> 
<% end %>