<div class ="container w-1000 imgdj mb-3 ">
    <img src="https://cdn.pixabay.com/photo/2015/04/13/13/37/audio-720589_960_720.jpg" alt="" class="img-fluid">
</div>


<h1>MARKETVISUAL</h1>

<h2>Aplicacion web de busqueda y publicaciones de servicios para profesionales del area audivisual , sonido y musicos profesionales ,los usuarios que utilicen esta aplicacion podran evaluar y comentar los servicios y cursos entregados por los profesionales. los profesionales podran publicar sus servicios indicando los valores . Los usuarios podran cotizar y publicar.
APP específicamente para profesionales del área audiovisual, sonido y músicos profesionales.</h2>