

<h2>MarketVisual aplicacion web de busqueda y publicaciones de servicios para profesionales del area audivisual , sonido y musicos profesionales lo usuarios que utilicen esta aplicacion podran evaluar y comentar los servicios y cursos entregados por los profesionales. lo profesionales podran publicar sus servicios indicando valores desde. Los usuarios podran cotizar y publicar APP específicamente para profesionales del área audiovisual, sonido y músicos profesionales.</h2>