/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root{
    --colorwhite: #FFFFFF;
    --colorgray:#f2f2f2;
    --colordarkblue:#125D98;
    --colornavyblue:#3C8DAD;
    --colororanje:#F5A962;
}

.bg-blue {
    background: var(--colornavyblue);
}

.bg-orange{
    background: var(--colororanje);
}

.bg-gray{
    background: var(--colorgray);
}

.imagencarrusel{
    
width: 110rem;
height: 30rem;




}

body{
    background-color: var(--colorgray);
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

